[submodule "tmux/plugins/tmux-power"]
	path = tmux/plugins/tmux-power
	url = https://github.com/wfxr/tmux-power.git
[submodule "tmux/plugins/tmux-sensible"]
	path = tmux/plugins/tmux-sensible
	url = https://github.com/tmux-plugins/tmux-sensible.git
[submodule "tmux/plugins/tmux-themepack"]
	path = tmux/plugins/tmux-themepack
	url = https://github.com/jimeh/tmux-themepack.git
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
[submodule "vim"]
	path = vim
	url = https://github.com/vomidug/.vim.git
